body {
    background-color: #F9FAFC;
}

#allergy-warning {
    color: red;
}

#allergy-none {
    color: green;
}

.navbar.navbar-expand-lg.navbar-light {
    background-color: mistyrose;
    height: 70px !important;
}

.masthead-image {
    margin-top: 70px;
}

.masthead-text {
    margin-bottom: 10%;
}

.navbar-brand>img {
    max-height: 18vh;
    max-width: 6vh;
}

#logo {
    font-family: 'Freehand';
    font-size: large
}

.nav-padding {
    padding-bottom: 0%;
    padding-top: 0%;
}

.nav-background-color {
    background-color: mistyrose;
}

.hero-image {
    height: 400px; /* Adjust the height as needed */
    background-image: url('https://res.cloudinary.com/dwxoyt0qz/image/upload/v1688975740/django_bakery_header_rbkvfb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    position: relative;
  }

.hero-image-login-signup {
    height: 300px; /* Adjust the height as needed */
    background-image: url('https://res.cloudinary.com/dwxoyt0qz/image/upload/v1689421957/happiness_cake2_r0guut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
  }

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-spacing {
    margin-bottom: 50px;
}
 
.col-with-background {
    background-color: rgb(241, 247, 249);
  } 

.solid-background {
    background-color: aliceblue;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 0%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.icon-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-text-container {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-item {
    margin: 0 10px;
}