{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Add your recipie:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <!-- Create recipie form -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.title | as_crispy_field }}
                {{ form.content | as_crispy_field }}
                {{ form.category | as_crispy_field }}
                {{ form.allergy | as_crispy_field }}
                <input type="hidden" name="status" value="1">
                <br>
                <button type="submit" class="btn btn-secondary"> Add Recipie</button>
                <a href="{% url 'home' %}" role="button" class="btn btn-secondary">Go back</a>
            </form>
        </div>
    </div>
    <br>
</div>

{% endblock %}