{% extends "base.html" %}

{% block content %}

{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}


            </div>
        {% endfor %}  
    </div>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="hero-image">
            <div class="hero-text">
                <h1>Django Bakery</h1>
                <span>
                    Serving digital delights since 2023
                </span>
            </div>
        </div>
    </div>

        <!-- Recipie listings -->
        <div class="col-12 mt-3 left col-with-background">
            <div class="row">
                {% for recipie in recipies_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipie.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwxoyt0qz/image/upload/v1688292295/pexels-antonio-quagliata-227432_nwslyq.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipie.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ recipie.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipies_content' recipie.slug  %}" class="post-link">
                                <h2 class="card-title">{{ recipie.title }}</h2>
                                <p class="card-text">{{ recipie.excerpt }}</p>
                            </a>
                                                        
                        </div>
                        <div class="card-footer text-center solid-background">
                            <div class="card-text-container">
                                <p class="card-text text-muted h6">
                                    <span class="flex-container">
                                        <span class="flex-item">{{ recipie.created_on }}</span>
                                        {% if recipie.number_of_likes > 0 %}
                                        <span class="flex-item btn-like"><i class="fas fa-heart"></i> {{ recipie.number_of_likes }}</span>
                                        {% else %}
                                        <span class="flex-item"><i class="far fa-heart"></i> {{ recipie.number_of_likes }}</span>
                                        {% endif %}
                                        <span class="flex-item"><i class="far fa-comments"></i> {{ recipie.number_of_comments }}</span>
                                        {% if recipie.author == user %}
                                        <span><a href="{% url 'delete_recipie' recipie.id %}" class="card-link"><i class="fa-regular fa-trash-can"></i></a>
                                            </span>
                                        {% endif %}
                                    </span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}