{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}  
    </div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-6 masthead-image">
            {% if "placeholder" in recipie.featured_image.url %}
                <img src="{{ recipie.category_image }}" width="100%">
            {% else %}
                <img src="{{ recipie.featured_image.url }}" width="100%">
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="col-md-6 masthead-text">
                        <!-- Post title goes in these h1 tags -->
                        
                        <h2 class="post-title">
                            {{ recipie.title }}
                        </h2>
                        <!-- Post author goes before the | the post's created date goes after -->
                        <p class="post-subtitle"> {{ recipie.author }} | {{ recipie.created_on }} </p>
                    </div>
                    <!-- The post content goes inside the card-text. -->
                    {% if recipie.get_allergy_display == "Other"%}
                    <p id="allergy-none" id="allergy-warning">No allergy data</p>

                    {% else %}
                    <p id="allergy-warning">{{ recipie.get_allergy_display }}</p>

                    {% endif %}

                    {{ recipie.content | linebreaks }}
                    <p class="card-text "></p>
                    <div class="row">
    
                        <div class="col-1">
                            
                            
                        </div>
                        <div class="col-1">
                            
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <strong>
                        {% if recipie.author == user %}
                        <a href="{% url 'update_recipie' recipie.slug %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit" aria-label="Edit recipie"></i></a>
    
    
                        <form class="d-inline" action="{% url 'recipie_like' recipie.slug %}" method="POST">
                            {% csrf_token %}
                        
                            {% if liked %}
                            <button type="submit" name="blogpost_id" value="{{recipie.slug}}" class="btn-like" aria-label="Submit"><i 
                                    class="fas fa-heart"></i></button>
                        
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{recipie.slug}}" class="btn-like" aria-label="Submit"><i 
                                    class="far fa-heart"></i></button>
                        
                            {% endif %}
    
                        </form>
                        {% else %}
                        <span class="text-secondary"><i class="far fa-heart"></i></span>
    
                        {% endif %}
    
                        <span class="text-secondary">{{ recipie.number_of_likes }} </span>
    
                        {% with comments.count as total_comments %}
                            <span class="text-secondary"><i class="far fa-comments"></i>
                                {{ total_comments }}
                            </span>
                            {% endwith %}
    
                    
                    
                    </strong>
    
                </div>
                
    
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
        
                    
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.content | linebreaks }}

                    {% if recipie.author == user %}
                    <!-- Delete icon for recipie author -->
                    <form method="POST" action="{% url 'delete_comment' comment.id %}">
                        {% csrf_token %}
                        <span><a href="{% url 'delete_comment' comment.id %}" class="card-link"><i class="fa-regular fa-trash-can"></i></a>
                        </span>
                    </form>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert_success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg" aria-label="Submit">Submit</button>
                </form>
                {% endif %}
                {% endif %}

            </div>
        </div>        
    
    </div>
</div>

{% endblock content %}