{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Update Recipie.</h3>
            <p>To adjust your recipie, please fill in below:</p>
        </div>
    </div>
    {% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}  
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <!-- Recipie update form -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.title | as_crispy_field }}
                {{ form.content | as_crispy_field }}
                {{ form.category | as_crispy_field }}
                {{ form.allergy | as_crispy_field }}
                <br>
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'home' %}" role="button" class="btn btn-secondary">Go back</a>
            </form>
            
        </div>
    </div>
    <br>
</div>
{% endblock %}